<div class="sso-flex-container">
    <div class="sso-box-item">
        <a href="{{'login'}}" class="btn btn-primary" id="" type="button">Checkout</a>
    </div>
    <div class="sso-box-item" style="min-width: 100% !important;">
        <div class="sso-text-body">Note: Domain name registration DNS global propagation takes between 30 minutes - 1h.</div>
    </div>
</div>