.header-navbar .navbar-header .navbar-brand .brand-logo {
    width: 100px !important;
    position: relative;
    bottom: 33px !important;
}
.account_header{
    color: #333333;
    cursor: default;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}
form label {
    color: #2B335E;
    font-weight: bold;
}
.main-menu.menu-light .navigation>li>a {
    padding: 12px 30px 12px 18px;
    font-weight: 500;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>i {
    margin-right: 12px;
    color: #06c;
}